---
pageable: false
page_classes: front-page header-page
---

- content_for :head do
  -#%link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

%section.page-header
  .row
    %section.col-md-12

      %h2 Your gateway to the open cloud
      %h3 automate, optimize, and control your cloud services

%section.overview-basic
  .row
    %section.col-md-10.col-md-offset-1

      :markdown
        ## Coming soon

        Our cloud management elves are busily preparing ManageIQ for its
        open source release!

        With ManageIQ, you'll be able to:

        * transition workloads across major cloud platforms
        * optimize for geography, price, performance, platform and scaling preferences
        * integrate with most popular platforms: AWS, OpenStack, vSphere, and RHEV
        * set and manage automation policies for cloud apps, workloads, and cloud providers

        Check back soon or sign up to get the latest news as it happens.


  .row
    %section.col-md-10.col-md-offset-1
      :markdown
        ## Join the ManageIQ community

    .col-md-5.col-md-offset-1
      :markdown
        Sign up for our announcement mailing list to get early access to beta
        pre-releases, newsletters, and announcements before anyone else.

    .col-md-5

      - form_url = "http://lists.manageiq.org/mailman/subscribe/newsletter"

      = form_tag form_url, class: "form-email form-inline", method: "post", role: "form" do
        = text_field_tag :email, class: "email-address form-control", placeholder: "you@domain.com"
        = submit_tag "Subscribe!", class: "btn btn-success"

%section.blog-area
  .row

    %section.col-md-10.col-md-offset-1

      %section.blog-posts

        %h2 From the blog…
        = partial :blog_posts, locals: locals


    -#%section.col-md-4
      %section.blog-archive
        %h2 Recent posts
        %ol
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Eget porttitor lorem


%section.partners-area

  :ruby

    # Partner names must match SVG files
    partners = {
      Red_Hat:             [190, "http://redhat.com/"],
      Autotrader_Group:    [310, "http://www.autotradergroup.com/"],
      Booz_Allen_Hamilton: [300, "http://boozallen.com/"],
      CHEF:                [160, "http://getchef.com/"],
      CiRBA:               [160, "http://cirba.com/"],
    }

  .row

    %section.col-md-10.col-md-offset-1

      %h2 Founding Community Partners

      %ul.partners
        - partners.each do |partner, val|
          %li
            %a.partner{href:val[1], class:partner}
              %img{src:"/images/partners/#{partner}.svg", width:val[0], alt:partner}


%section.social-area
  :ruby
    social = {
      twitter: "http://twitter.com/ManageIQ",
      #facebook: "foo",
      #"google-plus" => "foo"
    }

  .row

    %section.col-md-12
      %span.join-us
        Follow us on

      - social.each do |service, url|
        %a{href:url, class:"social-#{service}"}
          %i{class:"fa fa-#{service}"}
          = "#{service}".titlecase
